*.o
.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/doc
/ptexplain
/ptouch-driver-foomatic.spec
/ptouch-driver.spec
/rastertoptch
/stamp-h1
/ptouch-driver-*.tar.gz
/generated
