Source: ptouch-driver
Maintainer: ubuntu-devel-discuss@lists.ubuntu.com
XSBC-Original-Maintainer: Lars Wirzenius <liw@liw.fi>
Section: text
Priority: optional
Standards-Version: 3.8.2
Build-Depends: debhelper (>= 7.3.8), quilt, libcups2-dev, libcupsimage2-dev, foomatic-db-engine, foomatic-db (>= 20000101), pyppd (>= 0.4.9-5)
Build-Conflicts: foomatic-db-compressed-ppds
Homepage: http://www.diku.dk/hjemmesider/ansatte/panic/P-touch/

Package: ptouch-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ghostscript, ${python:Depends}, xz-utils
Description: CUPS/Foomatic driver for Brother P-touch label printers
 A driver for CUPS/Foomatic for Brother P-touch label printers.

